<section id="contact-section" class="section">
	<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?client=ubuntu&amp;channel=fs&amp;oe=utf-8&amp;ie=UTF8&amp;q=Foli+Centre+D'Estudis&amp;fb=1&amp;gl=es&amp;hq=foli+centre+d+estudis&amp;cid=16512464406889393950&amp;t=m&amp;iwloc=A&amp;ll=39.57542,2.649891&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>

	<div class="row white grid">
		<div>
			<img src="img/icons/icon10.png" class="foli-icon">
		</div>
		<div>
			<h1>contacta con nosotros</h1>
			<p>En Foli Centre d’Estudis estaremos encantados de atendar cualquier duda sobre nuestros servicios, no dudes en ponerte en contacto con nosotros</p>
			<h2>horario de oficinas</h2>
			<p>Mañana: 09:00 - 14:00</p>
			<p>Tarde:  15:00 - 20:00</p>
			<ul>
				<li> <span class="address">Cardenal Pou, 5 - Entresol - 07003 - Palma de Mallorca</span></li>
				<li> <span class="phone">971 718 469</span></li>
				<li> <a href="mailto:foli@foli.es"><span class="email">foli@foli.es</span></a></li>
			</ul>
		</div>
	</div>
</section>