<section id="degree-section" class="section row white">
	<div class="wrapper">
		<div class="breadcrumb"><a href="{{backLink}}">estudios</a> > {{page.title}}</div>
		<h1>{{page.title}}</h1>
		<p>{{page.description}}</p>
		<h2>Asignaturas</h2>
		<ul>
			<li ng-repeat="subject in page.subjects track by $index">
				{{subject}}
			</li>
		</ul>
	</div>
</section>