<section id="booking-room-info-section" class="container-wrapper booking-engine">
	<div class="container">
		<div id="top" class="title row">
				
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" ng-show="errors">
				<div class="alert alert-danger">
					 <span ng-repeat="error in errors">{{ error.data }}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row text-center">
				<img src="http://gatitos.bitacoras.com/mayo2006/gato217.jpg" style="width:280px; height:auto;"/>
			</div>

		</div>
		<br/>
		<div class="row">
			<div class="text-center">
				<a title="Inicio" class="btn btn-info" href="#/es/home">{{ 'BACK_HOME' | i18n }}</a>
			</div>
		</div>
	</div>
</section>