<header data-role="header" class="header" ng-controller="HeaderController">
	<h1>
		<a class="brand" href="#/{{currentLanguage}}/home"><span>Foli - centre d'estudis</span></a>
	</h1>
	<nav class="nav" role="navigation">
		<ul class="nav-list">
			<li class="nav-item"><a href="#/{{currentLanguage}}/estudios">estudios</a></li>
			<li class="nav-item"><a href="#/{{currentLanguage}}/contacta">contacta</a></li>
		</ul>
		<div class="nav-mobile" ng-click="toggle()"></div>
	</nav>
</header>