<script>
	window.fbAsyncInit = function() {
    	FB.init({
      		appId      : 'CAACEdEose0cBAMyT52pcxKpPbxp3ZAZAPYdx72unB4ZAfx0akHD68Wv0jZAg9TauEI1A6EpEgV2WLj8sTKJt3OZBJP7maXx9FORCe7gfimUPdBKZAA8ZAiAen3NXESZBiKa7m7CZB1YdKbJAIiQd496GgRoCgGuFHLJBwISJj1jvWpJbAiMEtVkdhTEwrHjoxkvZBI3EViRTA6qAZDZD',
      		channelUrl : 'http://localhost/foli.es/public_html/channel.html',
      		status     : true, // check login status
      		cookie     : true, // enable cookies to allow the server to access the session
      		oauth      : false, // enable OAuth 2.0
      		xfbml      : true  // parse XFBML
    	});
    };

	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<section id="home">

	<video id="video-background" preload="none" class="video-background" poster="img/bg/bg_1.png" volume="10">
		<source src="videos/foli_hd.webm" type="video/webm"/>
		<source src="videos/foli_hd.ogv" type="video/ogg ogv"; codecs="theora, vorbis"/>
		<source src="videos/foli_hd.mp4" type="video/mp4"/>			
	</video>

	<img id="img-background" src="img/bg/bg_1.png" class="background">


	<h2 class="slogan"><img src="img/logo.png" /> </h2>
	<h1 class="slogan">póntelo fácil</h1>
	<div id="video-controls">
		<button type="button" id="play-pause" class="button {{buttonPlayClass}}" ng-click="playToggle()"></button>
		<button type="button" id="mute" class="button {{buttonMuteClass}}" ng-click="muteToggle()"></button>
	</div>


	<h4 class="quote">Bienvenido al sitio web de la academia <span class="title">Foli</span> <span class="subtitle">Centre d'Estudis</span>. Tanto si eres un estudiante como un padre/madre que busca una academia para sus hijos, esperamos que este sitio te resulte una fuente de información útil acerca de nuestro centro.</h4>

	<div class="row white grid">
		<div id="experience" class="first">
			<img src="img/icons/icon3.png" class="foli-icon">
			<h3>experiencia</h3>
			<p>En Foli Centre d’Estudis llevamos más de 30 años ayudando a nuestros alumnos en el camino de aprendizaje y consecución de objetivos de sus carreras académicas. Estamos especializados en dar respaldo a universitarios de la UIB.</p>
		</div>
		<div id="scheduler">
			<img src="img/icons/icon7.png" class="foli-icon">
			<h3>horarios</h3>
			<p>Nuestros horarios son flexibles. Entendemos la dificultad de los horarios de nuestros estudiantes, por eso nos adaptamos a sus necesidades ofreciéndoles una amplia gama de horarios y posibilidades.</p>
		</div>
		<div id="contents">
			<img src="img/icons/icon2.png" class="foli-icon">
			<h3>materiales</h3>
			<p>Trabajamos con materiales propios, enfocados a la superación de las asignaturas, hacemos un seguimiento de los apuntes, cronogramas y la forma de estudiar de nuestros alumnos.</p>
		</div>
	</div>

	<div id="social-networks-container" class="row orange">
		<h3>Siguenos en la red</h3>
		<div id="social-networks">
			<p>Si quieres estar puntualmente informado de cursos, promociones y noticias relacionadas con Foli centre d'estudis, siguenos en tu red social preferida, no nos pierdas de vista.</p>
			<ul>
				<li>
					<a href="http://www.facebook.com/pages//336480236404863" target="_blank">F<span>Facebook</span></a>
				</li>
				<li>
					<a href="http://plus.google.com/109283906119140137649/about?gl=es&hl=es" target="_blank">g<span>google plus</span></a>
				</li>
				<li>
					<a href="#" target="_blank">t<span>twitter</span></a>
				</li>
			</ul>
		</div>
		<div id="facebook">
        	<div class="fb-like-box center-widget" data-href="http://www.facebook.com/336480236404863" data-width="440" data-height="210" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false" ></div>
        	<fbLikeBox />
    	</div>
	</div>

	<div class="row white grid">
		<div id="experience" class="first">
			<img src="img/icons/icon8.png" class="foli-icon">
			<h3>pagos</h3>
			<p>No cobramos matrícula, solo se paga por hora contratada. No queremos que la falta de recursos impida que recibáis nuestra ayuda, así que aceptamos pagos fraccionados sin cargo extra. Sabemos que pagar las clases representa un esfuerzo; pero pretendemos daros más que nadie a cambio de lo que pagáis.</p>
		</div>
		<div id="scheduler">
			<img src="img/icons/icon9.png" class="foli-icon">
			<h3>grupos</h3>
			<p>Nuestros grupos son reducidos. Creemos que es la mejor manera de atender las necesidades de los alumnos de una manera personalizada y adaptada a los distintos ritmos de aprendizaje de cada uno de ellos.</p>
		</div>
		<div id="contents">
			<img src="img/icons/icon6.png" class="foli-icon">
			<h3>infórmate</h3>
			<p>Infórmate de los cursos y asignaturas impartidas en Foli centre d'estudis sin ningún tipo de compromiso, estaremos encantados de atenderte y resolverte cuaquier tipo de duda que tengas. Te esperamos.</p>
		</div>
	</div>
</section>