<section id="studies-section" class="section row white">
	<div class="wrapper">
		<h1>{{page.title}}</h1>
		<p>{{page.description}}</p>

		<ul id="studies-list">
			<li ng-repeat="study in page.studies track by $index">
				<h2>{{study.title}}</h2>
				<p>{{study.description}}</p>
				<ul>
					<li ng-repeat="item in study.items track by $index">
						<a href="#/{{item.url}}">{{item.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>