/* app css stylesheet */

@font-face { 
  font-family: 'JustVector'; 
  src: url('../fonts/justvectorv2-webfont.eot'); 
  src: url('../fonts/justvectorv2-webfont.eot?#iefix') format('eot'), 
    url('../fonts/justvectorv2-webfont.woff') format('woff'), 
    url('../fonts/justvectorv2-webfont.ttf') format('truetype'), 
    url('../fonts/justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg'); font-weight: normal; font-style: normal; 
} 

[ng-cloak] {
	display: none;
}

body,html,.content-wrapper {
	height: 100% !important;	
}

body {
  background-color: #303030;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	cursor: pointer;
}

h1, h2, h3, h4 {
  color: #FA9B0D;
  font-family: 'Nova Round',cursive;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 300%;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.header {
	background-color: rgba(255, 255, 255, 0.7);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
	border-bottom: 1px solid #FA9B0D;
	height: 70px;
	opacity: 1;
  position: fixed;
  top: 0;
	width: 100%;
  z-index: 9999;
}

.header h1 {
	float: left;
  height: 71px;
	margin: 0;	
}

.header .brand {
	background: url('../img/logo.png') no-repeat;
	width: 171px;
}

.header .brand span {
	visibility: hidden;
}

.header .nav {
	float: right;
}

.header .nav a {
	color: #FA9B0D;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.05em #CCC
}

.header .nav a:hover {
	text-decoration: underline;
}	

.header .nav .nav-list {
  display: block;
	list-style: none;	
	margin-top: 25px;
}

.header .nav .nav-item {
	display: inline;
	margin-right: 20px;
}	

.header .nav-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background:#FA9B0D url(../img/nav.svg) no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

.slogan {
  margin: 0;
  position: relative;
  text-align: center;
  text-shadow: 0.05em 0.05em 0.05em #555;
}

.breadcrumb {
  color: #BBBBBB;
  margin: 10px 0;
}

.breadcrumb a {
  color: #BBBBBB !important;
}

.breadcrumb a:hover {
  color: #FA9B0D !important;
}

h1.slogan {
  color: #FA9B0D;
  font-family: 'Over the Rainbow', cursive;
  font-size: 700%;
  line-height: 1.6875;
}

h2.slogan {
  padding-top: 20%;
}

h4.quote {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  border-bottom: 1px solid #FA9B0D;
  border-top: 1px solid #FA9B0D;
  color: #555;
  font-family: 'Montserrat', cursive;
  font-size: 200%;
  padding: 5%;
}

h4.quote .title {
  color: #FA9B0D;
}

h4.quote .subtitle {
  color: #111;
}

.row {
  padding: 20px;
  position: relative;    
}

.row.white {
  background-color: white;
  color: #666;
} 

.row.orange {
  background-color: rgba(250, 155, 13, 0.7);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  color: white;
  min-height: 700px;
}

.row h3 {
  font-family: 'Nova Round',cursive;
  font-size: 300%;
  text-align: center;
}

.row.white a {
  color: #666;
  text-decoration: none;
}

.row.white a:hover {
  color: #FFA500;
} 

.row.white h3 {
  color: #FA9B0D;
}

.row.orange h3 {
  color: white;
}

.grid div {
  display: table-cell;
  padding: 30px 10px;
  text-align: center;
  vertical-align: top;
  width: 33%;
}  

.grid .foli-icon {
  width: 40%;
} 

.footer {
  background-color: #3A3A3A;
  color: #AAA;
  font-size: 80%;
  min-height: 100px;
  padding-top: 10px;
  position: relative;
}

.footer div {
  display: inline-table;
}

.footer .left-footer {
  margin: 0 1%;  
  width: 70%;
}

.footer .right-footer {
  width: 27%;
}

.footer ul {
  list-style: none;
  padding: 0;
} 

.footer ul li {
  border-left: 1px dotted #AAAAAA;
  display: inline-block;
  padding: 0 10px;
} 

.footer ul li.first {
  border-left: none;
}

.footer ul li a {
  color: #AAA;
  text-decoration: none;
} 

.footer ul li a span {
  visibility: hidden;
} 

.footer .social-links li {  
  border-left: none;
  height: 21px;
  padding: 0;
  width: 21px;
}

.footer .social-links a {   
  font-family: "JustVector";
  font-size: 180%;
  text-decoration: none;
}

.footer .social-links a:hover {
  color: #FA9B0D;
}

.footer ul.contact-info, .footer ul.social-links {
  border-top: 1px dotted #aaa;
  padding-top: 10px;
}

.footer .contact-info li {
  background-repeat: no-repeat;
  background-position: 6px 0;
  padding-left: 26px;
}

.address {
  background-image: url(../img/icons/icon-address.png);  
  background-repeat: no-repeat;
}

.phone {
  background-image: url(../img/icons/icon-phone.png);  
  background-repeat: no-repeat;
}

.email {
  background-image: url(../img/icons/icon-email-2.png);  
  background-repeat: no-repeat;
}

.footer .extra-footer {
  background-color: #303030;
  height: 50px;
  padding-top: 15px;
  width: 100%;  
}

.footer .extra-footer p {
  margin-left: 1%;
} 

.wrapper {
  margin: 10px auto;
  width: 80%;
}

#home #video-controls {
  position: relative;
  text-align: center;
  margin: 10px 0 10% 0;
}

#home #video-controls .button {
  cursor:pointer;
  border:none;
  width:80px;
  height:88px;
}

#home #video-controls .button.play{
  background:url(../img/icons/icon-play.png) no-repeat;
}

#home #video-controls .button.pause{
  background:url(../img/icons/icon-pause.png) no-repeat;
}

#home #video-controls .button.sound{
  background:url(../img/icons/icon-sound.png) no-repeat;
}

#home #video-controls .button.muted{
  background:url(../img/icons/icon-mute.png) no-repeat;
}

#home #social-networks-container {
  margin: 0 auto;
  padding: 20px;
}

#home #social-networks-container h3 {
  font-family: 'Over the Rainbow', cursive;
  text-shadow: 0.1em 0.1em 0.01em orange;
  margin-bottom: 40px;
}

#home #social-networks-container div {
  display: inline-table;  
  width: 100%;
}

#home #social-networks-container #social-networks {
  font-size: 150%;
  text-align: center;
  vertical-align: top;  
}

#home #social-networks-container #social-networks ul {
  height: 100px;
  list-style: none;
} 

#home #social-networks-container #social-networks li {
  display: inline-block;
} 

#home #social-networks-container #social-networks li a {
  color: white;
  font-family: 'JustVector';
  text-shadow: 0.1em 0.1em 0.01em orange;
  font-size: 400%;
  text-decoration: none;
}

#home #social-networks-container #social-networks li a:hover {
  color: #995B06;
} 

#home #social-networks-container #social-networks li a span {
  display: none;
} 

#home #social-networks-container #facebook {
  background:url(../img/cloud.png) no-repeat center center;
  height: 415px;  
  text-align: center;
}

#home #facebook .fb_iframe_widget {
  position: relative;
  top: 96px;
}

#contact-section h4 {
  color: #FA9B0D;
}

#contact-section p {
  margin: 10px;
}

#contact-section a {
  color: #666666;
  text-decoration: none;
}

#contact-section ul {
    padding-left: 0;
}

#contact-section ul li {
  list-style: none outside none;
  margin: 0 0 10px;
}

#contact-section ul li span {
  padding-left: 25px;
}

#studies-section, #degree-section {
  padding-top: 71px;
}

#studies-section ul, #degree-section ul {
    margin: 0;
    padding: 0;
}

#studies-section ul {
    list-style: none;
}

#studies-section ul ul, #degree-section ul {
  list-style: circle;  
  margin: 20px 0 40px 20px;
} 

#studies-section ul ul li, #degree-section ul li {
  margin: 0 0 10px 40px;
}

@media only screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 80%;
    }

    .header .nav {
      width:100%;
    }

    .header .nav .nav-list {
      display:none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .header .nav .nav-item {  
      background-color: rgba(255, 255, 255, 0.7);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      display: block;
      border-bottom: 1px solid #FFA500;
      float: none;
      height: 40px;
      padding-top: 15px;
      width:100%;
    }

    .header .nav .nav-item > a {
      margin-left: 15px;
    }
    
    .header .nav-mobile {
      display: block;
    }

    h1.slogan {
      font-size: 300%;
    }

    h4.quote {
      font-size: 120%;
    }

    .grid div {
      display: block;
      margin: 20px auto;
      width: 90%;
    }  

    .grid h3 {
      font-size: 200%;
    }

    .grid div img {
      width: 40%;
    } 
}

@media only screen and (max-width: 615px) {

  body {
    overflow-x: hidden;
  }

  .row {
    padding: none;
  }

 .grid div {
    margin: 0 auto;
    padding: 0 10px;
  } 

  #home #social-networks-container #facebook {
    background:none;
    background-color: white;
  }

  #home #facebook .fb_iframe_widget, #home #facebook .fb_iframe_widget iframe {
    width: 270px !important;
  }

  #studies-section ul ul, #degree-section ul {
    margin: 20px 0 10px 20px;
  } 

  #studies-section ul ul li, #degree-section ul li {
    margin: 0 0 10px 10px;
  }

  .footer div {
    display: block;
    width: 100% !important;
  }

  .fb-like-box.center-widget.ng-scope.fb_iframe_widget > span {
    width: 270px !important;
  }

  .contact-info li {
    border: medium none !important;
    margin: 5px 0;
    width: 100%;
  }

  .footer .right-footer {
    padding: 5px;
  }
}